html, body {
	margin: 0;
	user-select: none;
	font-family: sans-serif;
}

.background {
	z-index: -1;
	height: 100%;
	width: 5000px;
	background: url(./img/background.png) repeat-x;
	position: absolute;
	animation: background_ANM 10s linear infinite;
}

@keyframes background_ANM {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-737px);
	}
}

.fps-counter {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff01;
	position: absolute;
	left: 5px;
	top: 5px;
	font-weight: bolder;
	padding: 2px 5px;
	color: #90ee90;
	background-color: #ffffff30;
}

.wrapper {
	overflow: hidden;
	height: 75vh;
	width: 75vw;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid black;
}

.play-zone {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.plane {
	transform: translate(-50%, -50%) scale(0.5);
	position: relative;
}

.tower-container {
	height: 100%;
	width: 100px;
	position: absolute;
	top: 0;
}

.tower-container img {
	width: 100px;
}

.score-board-container {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 5;
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: bolder;
	padding: 2px 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

.score {
	font-size: 20px;
}

.high-score {
	font-size: 15px;
}

.game-over-popup {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: max-content;
	width: max-content;
	padding: 10px 15px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: white;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.game-over-MSG {
	font-size: 30px;
}

.game-over-play-again-btn {
	margin-top: 10px;
	height: 50px;
	cursor: pointer;
}

.game-over-score-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	& div:nth-child(1) {
		font-size: 25px;
	}
	& div:nth-child(2) {
		font-size: 20px;
	}
}

.end-game-explosion {
	transform: translate(60px, 50px) rotate(270deg);
	position: absolute;
}